nav{
    display: flex;
    background-color: black;
    flex-direction: row;
    justify-content: space-around;
}

#logo{
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top:10px ;
}
ul,li{
    list-style: none;
    padding: 0;
}
ul{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 10px;
}
nav a:hover{
    color: burlywood;
    cursor: pointer;
    
}

div p{
    width:500px;
    height: 250px;
    overflow: auto;
    display: inline-flex;
    margin-right: 100px;
    background-color:cornsilk;
    padding: 10px;
}

#para{
    padding-left: 20px;
}
#img{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
#head{
    color: springgreen;
    text-align: center;
}