body {
    font-family: sans-serif;
    font-size: 16px;
}
nav {
    background:tan;
    padding: 0 15px;
}

.menu{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items:center;
}
li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 5px;
}