body{
    background-color: peachpuff;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


nav ul,nav li{
    list-style: none;
    padding: 0;
}
nav ul{
    display: inline-flex;
}

nav a{
    text-decoration: none;
    color:teal;
    padding: 10px;
}
nav a:hover{
    color: black;
    cursor: pointer;
    
}

/*div p{
    width:500px;
    height: 250px;
    overflow: auto;
    display: inline-flex;
    margin-right: 100px;
    background-color:cornsilk;
    padding: 10px;
}
*/
div{
    display: inline-block;
}
div ul{
    list-style: none;
}
div li{
    margin: 30px;
    margin-left: 300px;
}
#para{
    padding-left: 20px;
}
#img{
    width: 100%;
    height: 500px;
    margin-top: 10px;
}
#head{
    color: springgreen;
    text-align: center;
}
#name{
    text-align: center;
}
#last, h2,h3{
    color:white;
    text-align: center;
}
#end{
    text-align: center;
}